<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <div class="center">
        <p>Username: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
        <p>Date Joined: {{user.date_joined}}</p>
        <p>Last Updated: {{user.last_login}}</p>
        <a class="btn" href="{% url 'dashboard' %}">Dashboard</a>
    </div>
</body>

</html>